<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for joining Stagefast, <%=@user.name %>! Enjoy using our app!</p>
  </body>
</html>
