
body {
  background: url('mic.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: white;
  text-align: left;
  font-size: 500%;
}

h2 {
  color: white;
}

label[for="email"], label[for="password"] {
  color: white;
}
