
<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<br><br>

<div class="row">

  <% @users.each do |user| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-4">
            <%= image_tag(user.headshot.small_thumb.url) unless user.headshot.blank? %><br>
          </div>
          <div class="col-xs-8">
            <% if user.has_roles? %>
              <ul>
                <h4>Previous roles:</h4>
                <% user.roles.each do |role| %>
                  <li><%= "Played #{role.name} in '#{role.production.title}'" %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <h4><%= link_to user.name, user_path(user) %></h4>
        </div>
      </div>
    </div>
  <% end %>

</div>
