<div class="alert alert-success">
  <p id="notice"><%= notice %></p>
</div>

<p>
  <strong>Actor:</strong>
  <%= @audition_request.actor.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @audition_request.role.name %>
</p>
